body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    color: rgb(112, 112, 112);
    background-color: rgba(214, 214, 214, 0.106);
}

header{
    width: auto;  
    justify-content: center;
    
}

.menu {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Ajusta la posición desde la parte superior */
    width: 95%; /* Haz que el menú ocupe todo el ancho */
    padding: 10px 0 ; /* Añade relleno superior e inferior */
    display:flex;
    justify-content: end;
}
  
.menu-opciones {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
}
  
.menu-opcion {
    display: inline-block; /* Permite que los elementos de la lista estén uno al lado del otro */
    margin: 0 10px; /* Ajusta el margen entre los elementos */
}

#opcion-mail{
    font-weight: 500;
    color: black;
}

.about-me{
    background-color: rgba(192, 188, 188, 0.145);
    display:flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
    align-items: center;
    padding: 0em 3em;
    justify-content: space-evenly;
    
}

.foto-perfil{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    display:flex;
}

h1{
    font-size: 3em;
    padding-bottom: 1%;
    font-weight: 500;
    color: black;
}

.menu-redes{
    display: inline-flex;
    align-items: flex-start;
    padding-top: 0.5em;
    color: black;
}

.btn-github, .btn-linkedin, .btn-curriculum{
    border: none;
    font-size: larger;
    cursor: pointer;
}
.btn-github:hover, .btn-linkedin:hover, .btn-curriculum:hover{
    transform: scale(1.1);
}

  




  
@media (max-width: 480px){
    .menu-opcion{
    display: none;
  }

  #opcion-mail{
    display:flex;
    justify-content: end;
  }


  .about-me{
    display:flexbox;
    flex-direction:column;
    align-items: flex-start;
    padding: 0 2em;
    
   }

  .foto-perfil{
    width: 10em;
    height: 10em;
} 
}

@media (max-width: 768px){
    .menu-opcion{
    display: none;
}
    #opcion-mail{
    display:flex;
    justify-content: end;
}
    

}