

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    color: rgb(112, 112, 112);
    background-color: rgba(214, 214, 214, 0.106);
}

header{
    width: auto;  
    justify-content: center;
    
}

.menu {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Ajusta la posición desde la parte superior */
    width: 95%; /* Haz que el menú ocupe todo el ancho */
    padding: 10px 0 ; /* Añade relleno superior e inferior */
    display:flex;
    justify-content: end;
    display: flex;
}
  
.menu-opciones {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
   
}
  
.menu-opcion,.menu-opcion-mail {
    display: inline-block; /* Permite que los elementos de la lista estén uno al lado del otro */
    margin: 0 10px; /* Ajusta el margen entre los elementos */

}

#opcion-mail{
    font-weight: 800;
    color: black;
}

.menu-opcion button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.menu-opcion:hover{
    transform: scale(1.1);
}

.menu-opcion-mail button{
    border: none;
    background-color: transparent;
}

.presentacion{
    display:flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
    align-items: center;
    padding: 0em 3em;
    justify-content: space-evenly;
}

.foto-perfil{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    display:flex;
}

h1{
    font-size: 3em;
    padding-bottom: 1%;
    font-weight: 500;
    color: black;
}


.menu-redes{
    display: inline-flex;
    padding-top: 1.5em;
    color: black;
    font-size: smaller;
    
}

.btn-github, .btn-linkedin, .btn-curriculum {
    display: flex;
    border: none;
    font-size: larger;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}
.btn-github:hover, .btn-linkedin:hover, .btn-curriculum:hover{
    transform: scale(1.1);
}

.contenedor-sobremi{
    padding-top: 2em;
    background-color: rgba(0, 0, 255, 0.088);
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
}

.contenedor-sobremi h3{
    font-size: 2em;
    font-weight: 500;
    color: black;
    margin-left: auto; /* Empuja el contenedor hacia el centro horizontal */
    margin-right: auto;
}
    
.contenedor-sobremi p{
   width: fit-content;
   padding: 0 290px 0px;
   margin-left: auto; /* Empuja el contenedor hacia el centro horizontal */
    margin-right: auto;
}

.contenedor-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-top: 0;
    background-color: rgba(128, 128, 128, 0.123);
    padding: 3em;
    margin-left: auto; /* Empuja el contenedor hacia el centro horizontal */
    margin-right: auto; /* Empuja el contenedor hacia el centro horizontal */
    align-items: center; /* Centra verticalmente el contenido */
    padding-top: 5em;
}

.contenedor-skills ul {
    display: flex;
    justify-items: center;
}

.contenedor-skills li {
    display: inline-flex; /* Mostrar los elementos de la lista en línea */
    flex-direction: column;
    margin: 0 1em; /* Agregar espacio entre los elementos */
    width: 15em;
    height: 7em;
    background-color: white;
    justify-content: start;
    padding-bottom: 1em;
}

.contenedor-skills .logo {
    width: 3em; /* Ancho deseado para los logos */
    height: 3em; /* Altura automática para mantener la proporción */
   padding-top: 40px;
   padding-bottom: 10px;
   padding-left: 20px;
}

.contenedor-skills p{
    font-size: 2em;
    font-weight: 500;
    color: black;
    padding-bottom: 1em;
}

span{
    font-size: 20px;
    padding-left: 20px; 
}

.contenedor-hobbies{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    margin-top: 0;
    background-color: rgba(128, 128, 128, 0.123);
    padding: 3em;
    padding-bottom: 5em;
    margin-left: auto; /* Empuja el contenedor hacia el centro horizontal */
    margin-right: auto; /* Empuja el contenedor hacia el centro horizontal */
    align-items: center; /* Centra verticalmente el contenido */
    
}

.contenedor-hobbies ul {
    display: flex;
    justify-items: center;
}

.contenedor-hobbies li {
    display: inline-flex; /* Mostrar los elementos de la lista en línea */
    flex-direction: column;
    margin: 0 1em; /* Agregar espacio entre los elementos */
    width: 15em;
    height: 7em;
    background-color: white;
    justify-content: start;
    padding-bottom: 1em;
}

.contenedor-hobbies .logo {
    width: 3em; /* Ancho deseado para los logos */
    height: 3em; /* Altura automática para mantener la proporción */
   padding-top: 40px;
   padding-bottom: 10px;
   padding-left: 20px;
}

.contenedor-hobbies p{
    font-size: 2em;
    font-weight: 500;
    color: black;
    padding-bottom: 1em;
}

.contenedor-formacion{
    display:flex;
    flex-direction:column;
    margin-top: 0;
    text-align:left; 
    align-items: center;
    padding: 3em 3em;
    justify-content: space-evenly;
    background-color:rgba(0, 0, 255, 0.088) ;
}

.contenedor-formacion h3{
    font-size: 2em;
    font-weight: 500;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: black;
}

.logo-one{
    width: 10%;
    padding: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em ;
    background-color: rgb(255, 255, 255);
}


.contenedor-formacion h4{
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight: 500;
    color: black;
    text-align: left; 
}

.contenedor-formacion p{
    font-size: 1.2em;
    text-align: left; 
}

.contenedor-proyectos{
    display:flex;
    flex-direction:column;
    margin-top: 0;
    text-align:left; 
    align-items: center;
    padding: 3em 3em;
    justify-content: space-evenly; 
    background-color: rgba(128, 128, 128, 0.123);
}

.contenedor-proyectos h3{
    font-size: 2em;
    font-weight: 500;
    color: black;
    

}




  




  
@media (max-width: 480px){
  


} 



@media (max-width: 768px){
    .menu-opcion{
    display: none;
}
    #opcion-mail{
    display:flex;
    justify-content: end;
}


 
.contenedor-sobremi h3{
    padding: 1% 5%;
    display:flexbox;
    flex-direction: initial;
    justify-content:left;
    width: fit-content;

  
}
.contenedor-sobremi p{
   padding: 2% 5%;
    display:flexbox;
    flex-direction: initial;
    justify-content:left;
    width: fit-content;
   

}

}


@media (min-width: 768px){

    

   

    .contenedor-sobremi h3{
        padding: 1% 5%;
        display:flexbox;
        flex-direction: initial;
        justify-content:left;
        width: fit-content;
   
      
    }
    .contenedor-sobremi p{
       padding: 2% 5%;
        display:flexbox;
        flex-direction: initial;
        justify-content:left;
        width: fit-content;
       
    }
}


