

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    color: rgb(112, 112, 112);
    background-color: rgba(214, 214, 214, 0.106);
}

header{
    width: auto;  
    justify-content: center;
    
}

.menu {
    /* position: fixed; /* Fija el menú en la parte superior */
    top: 0; /* Ajusta la posición desde la parte superior */
    width: 95%; /* Haz que el menú ocupe todo el ancho */
    padding: 10px 0 ; /* Añade relleno superior e inferior */
    display:flex;
    justify-content: end;
}
  
.menu-opciones {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
   
}
  
.menu-opcion,.menu-opcion-mail {
    display: inline-block; 
    margin: 0 10px; /* Ajusta el margen entre los elementos */

}

#opcion-mail{
    font-weight: 800;
    color: black;
}

.menu-opcion button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.menu-opcion:hover{
    transform: scale(1.1);
}

.menu-opcion-mail button{
    border: none;
    background-color: transparent;
}

.presentacion{
    display:flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
    align-items: center;
    padding: 0em 3em;
    justify-content: space-evenly;
}

.foto-perfil{
    width: 15em;
    height: 15em;
    border-radius: 50%;
    display:flex;
}

h1{
    font-size: 3em;
    padding-bottom: 1%;
    font-weight: 500;
    color: black;
}


.menu-redes{
    display: inline-flex;
    padding-top: 1.5em;
    color: black;
    font-size: smaller;
    
}

.btn-github, .btn-linkedin, .btn-curriculum {
    display: flex;
    border: none;
    font-size: larger;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}
.btn-github:hover, .btn-linkedin:hover, .btn-curriculum:hover{
    transform: scale(1.1);
}

.contenedor-sobremi{
    padding: 2em;
    background-color: rgba(0, 0, 255, 0.088);
    margin-top: 4em; 
    text-align:justify;
}

.titulo-sobremi{
    text-align: center;
}

.contenedor-sobremi h3{
    font-size: 2em;
    font-weight: 500;
    color: black;
}
    
.contenedor-sobremi p{
    padding-top: 1.5em;
}

.skills{
    background-color: rgba(128, 128, 128, 0.123);
    padding: 2.5em 1em 2.5em 1em;
}

.titulo-skills{
    font-size: 2em;
    font-weight: 500;
    color: black;
    text-align: center;
}

.contenedor-skills{
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.contenedor-skills ul{
  background-color: white;
  width: 8em;
  height: 8em;
}

.contenedor-skills li{
    padding: 3.5em 0.5em;
}


span{
    display: flex;
    font-size: 20px;
}

.contenedor-skills .logo {
    width: 2.5em; /* Ancho deseado para los logos */
    height: 2.5em; /* Altura automática para mantener la proporción */
    display: flex;
}

.hobbies{
    background-color: rgba(128, 128, 128, 0.123);
    padding: 0.5em 1em 2.5em 1em;
}

.titulo-hobbies{
    font-size: 2em;
    font-weight: 500;
    color: black;
    text-align: center;
}

.contenedor-hobbies{
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.contenedor-hobbies ul{
  background-color: white;
  width: 8em;
  height: 8em;
}

.contenedor-hobbies li{
    padding: 3.1em 0.5em;
}


span{
    display: flex;
    font-size: 20px;
}

.contenedor-hobbies .logo {
    width: 2.5em; 
    height: 2.5em; 
   display: flex;
}



.formacion{
    display:flex;
    flex-direction:column;
    margin-top: 0;
    text-align:left; 
    align-items: center;
    justify-content: space-evenly;
    background-color:rgba(0, 0, 255, 0.088) ;
    padding: 2.5em 0 2.5em 0;
}

.titulo-formacion{
    font-size: 2em;
    font-weight: 500;
    color: black;
    text-align: center;
    padding-bottom: 0.5em;
}


.logo-one{
    width: 20%;
    padding: 3em;
    margin-top: 1.5em;
    margin-bottom: 1em ;
    background-color: rgb(255, 255, 255);
}

.contenedor-texto h3{
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight: 500;
    color: black;
    text-align: left; 
}

.contenedor-texto p{
    font-size: 1.2em;
    text-align: left; 
}

.titulo-proyectos{
    font-size: 2em;
    font-weight: 500;
    color: black;
    background-color:rgba(128, 128, 128, 0.123);
    text-align: center;
    padding-top: 1.5em;
}

.contenedor-proyectos{
    margin-top: 0;
    padding: 3em 4em 4em 4em;
    background-color: rgba(128, 128, 128, 0.123);
     display: flex; /* Activa el modelo de caja flexible en el contenedor */
    justify-content: center; /* Alinea los elementos hijos horizontalmente al centro */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
}


.contenedor-proyectos h3{
    font-size: 2em;
    font-weight: 500;
    color: black;text-align: center;
}

.imagen-encriptador{
    width: 50%;
    margin-top: 2em;
   justify-content:space-evenly;

}

.texto-proyectos {
    padding-left: 5em;
    text-align: center;
}


.texto-proyectos p{
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    margin-top: 2em;
    padding-bottom: 1.5em;
}


.texto-proyectos a{
    font-size: 1.2em;
    text-decoration: none; /* Quita el subrayado del enlace */
    border: 1px solid blue; /* Agrega un borde azul alrededor del enlace */
    padding: 10px 15px; /* Ajusta el relleno del botón según sea necesario */
    display: inline-block; /* Asegura que el botón se muestre en línea */
    margin-top: 0.5em; /* Ajusta el margen superior entre los enlaces */ 
}

.repo{
    color: blue;
}

.demo{
    color: white;
    background-color: rgb(0, 0, 255); 
}

.contacto{
    background-color: rgba(0, 0, 255, 0.088);  
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em
}

.titulo-contacto{
    padding-top: 1.5em;
    color: black;
    font-size: 2em;
    font-weight: 500;
}

.texto-contacto{
    color: black;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.tituloc-textoc{
    margin-left: 1em;
}

form{
    margin-top: 1.5em;
}

.btn-enviar{
    font-size: 1.2em;
    text-decoration: none; /* Quita el subrayado del enlace */
    border: 2px solid blue; /* Agrega un borde azul alrededor del enlace */
    padding: 10px 15px; /* Ajusta el relleno del botón según sea necesario */
    display: inline-block; /* Asegura que el botón se muestre en línea */
    margin-top: 0.5em; /* Ajusta el margen superior entre los enlaces */
    margin-right: 1em;
    color: rgb(255, 255, 255);
    background-color: blue;
}

.texto-contacto input[type="text"],
.texto-contacto input[type="email"],
.texto-contacto input[type="asunto"],
.texto-contacto textarea{
    width: 40em; 
    height: 6.2em;  
    border: none;
    
}

.texto-contacto textarea{
    border: none;
}

.texto-contacto input[type="text"]::placeholder,
.texto-contacto input[type="email"]::placeholder,
.texto-contacto input[type="asunto"]::placeholder,
.texto-contacto textarea::placeholder {
    color: rgba(0, 0, 255, 0.473);
}

footer{
    text-align: center;
    background-color:white;
    padding: 2em;
}






/*Tablet*/
@media (max-width: 768px) {

    .menu{
        position:absolute;
        justify-self: flex-end;
        justify-content: end;
        justify-items: end;
    }

    .menu-opcion:not(:last-child) {
        display: none;
    }
    .presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }

    .contenedor-proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imagen-encriptador{
        width: 100%;
    }

    .texto-proyectos{
        text-align: center;
        padding: 0;
    }

    .texto-proyectos a{
        display:table-cell;
        flex-direction: row;
    }

    .texto-contacto input[type="text"],
    .texto-contacto input[type="email"],
    .texto-contacto input[type="asunto"]{
        width: 100%;
        height: auto;  
    }

   
    .imagen-contacto{
        display: none;
    }

}






/*Mobile*/
@media (max-width: 425px) {

    .menu{
        position:none;
        justify-self: flex-end;
        justify-content: end;
        justify-items: end;
    }

    #opcion-mail{
     
      justify-content: space-evenly;
      width: fit-content;
    }

    .menu-opcion:not(:last-child) {
        display: none;
    }
    .presentacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }

    .contenedor-proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-proyectos{
        text-align: center;
        padding: 0;
    }

    .texto-proyectos a{
        display:table-cell;
        flex-direction: row;
    }

    .contacto{
        display: block;
    }

    .texto-contacto input[type="text"],
    .texto-contacto input[type="email"],
    .texto-contacto input[type="asunto"],
    .texto-contacto textarea[type="mensaje"]{
        width: 90%;
        height: auto; 
        justify-content: space-evenly;
        
    }
    
    .imagen-contacto{
        display: none;
    }

   
}


